<body>
    <main>

        <form>
            <div class="container">
                <div class="form-group">
                    <input class="col-25 d-flex align-items-center mx-auto mt-5 p-1 flex-column col-lg-4 bg-white"
                        type="text" id="tname" placeholder="Enter Team Name">
                    </input>
                </div>
                <button type="submit" onclick="teamCreate()"
                    class="col-25 d-flex align-items-center mx-auto mt-5 p-1 flex-column col-lg-4"
                    style="background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;"
                    value="teamSubmit" id="teamSubmit">Submit
            </div>
        </form>
        <script>
            function teamCreate() {
                // const tid = document.getElementById('tid').value;
                const tname = document.getElementById('tname').value;
                alert(tname)
                if (tname != "") {
                    console.log(`entered if`)
                    const body = {
                        
                        teamname: tname
                    }
                    alert('into the if')
                    axios.post('/team/save', body)
                        .then((res) => alert(res))
                        .catch((e) => alert(e))
                    alert('after axios')
                } else {
                    alert("Team Name is empty")
                }

            }
        </script>
    </main>
</body>