<br>
<br>
<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
<label>Teams</label>
            <% for(var i=0; i<teams.length; i++) { %>
                <%= console.log(teams, "teams are here") %>
                <tr>
                    <td><%= teams[i].teamname %></td>
                    <label>Edit</label>
                    <form method="post" action="/team/delete/<%=team[i].teamid%>">
                        <input type="submit" value="Delete" />
                    </form>
                   
                    <br />
                </tr>
            <%} %>


        </div>
    </div>
</div>