<body>
    <main>
        <div class="container">
            <div class="form-group">
                <div class="col col-md-12">
                    <label class="col-25 d-flex align-items-center mx-auto mt-5 p-1 flex-column col-lg-4 bg-white">
                        <h3> Teams details </h3>
                        <% for(var i=0; i<teams.length; i++) { %>
                        <!-- <%= console.log(teams, "teams are here") %> -->
                       <table>
                        <tr>
                            <td>
                                <label class="col-25 d-flex align-items-center mx-auto flex-column col-lg-4">
                                <%= teams[i].teamName %>
                            </label>
                            </td>
                            <td>
                                <form method="post"  action="/team/edit/<%= teams[i].teamId %>"
                                    class="col-25 d-flex align-items-center mx-auto flex-column col-lg-4">
                                    <input type="submit" value="Edit" />
                                    
                                </form>
                            </td>
                            <td>
                                <form method="post"  action="/team/delete/<%= teams[i].teamId %>"
                                    class="col-25 d-flex align-items-center mx-auto flex-column col-lg-4">
                                    <input type="submit" value="Delete" />
                                    
                                </form>
                            </td>

                            <br />
                        </tr>
                    </table>
                        <%} %>
                    </label>

                </div>
            </div>
        </div>
    </main>
</body>